################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inmar-Orders/.vs/Inmar-Orders/FileContentIndex
